body {
  background: url(http://www.konami.jp/mv/tomosukejazzinpark_lana/img/common/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.